@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <!-- Instructions -->
    <div class="row">
        <div class="alert alert-success col-md-12" role="alert" id="notes">
            <h4>NOT!!!</h4>
            <ul>
                <li>Başvurunuz başarılı şekilde tamamlanmıştır.</li>
            </ul>
        </div>
    </div>
    <!-- Verification Entry Jumbotron -->

</div>
    